{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row">
            <h1 class="col-5 offset-4 text-white">Mes albums</h1>
            <button class="btn btn-info col-2 ml-auto mr-5 mb-2">Editer</button>
        </div>
        <div class="row">
            <div class="col-4">
                <img class="card-img-top" src="http://lorempixel.com/400/200/city" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-white">Album title</h5>
                    <p class="card-text text-light"><span class="40">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi consequatur dolore error et excepturi facere hic illum itaque laudantium libero magnam nihil perferendis quas quia quo sit tempora, temporibus tenetur.</span></p>
                    <a href="{{ path('home_one_album') }}" class="btn btn-primary">Voir l'album</a>
                </div>
            </div>
            <div class="col-4">
                <img class="card-img-top" src="http://lorempixel.com/400/200/people" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-white">Album title</h5>
                    <p class="card-text text-light"><span class="40">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi consequatur dolore error et excepturi facere hic illum itaque laudantium libero magnam nihil perferendis quas quia quo sit tempora, temporibus tenetur.</span></p>
                    <a href="{{ path('home_one_album') }}" class="btn btn-primary">Voir l'album</a>
                </div>
            </div>
            <div class="col-4">
                <img class="card-img-top" src="http://lorempixel.com/400/200/transport" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-white">Album title</h5>
                    <p class="card-text text-light"><span class="40">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi consequatur dolore error et excepturi facere hic illum itaque laudantium libero magnam nihil perferendis quas quia quo sit tempora, temporibus tenetur.</span></p>
                    <a href="{{ path('home_one_album') }}" class="btn btn-primary">Voir l'album</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img class="card-img-top" src="http://lorempixel.com/400/200/abstract" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-white">Album title</h5>
                    <p class="card-text text-light"><span class="40">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi consequatur dolore error et excepturi facere hic illum itaque laudantium libero magnam nihil perferendis quas quia quo sit tempora, temporibus tenetur.</span></p>
                    <a href="{{ path('home_one_album') }}" class="btn btn-primary">Voir l'album</a>
                </div>
            </div>
            <div class="col-4">
                <img class="card-img-top" src="http://lorempixel.com/400/200/animals" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-white">Album title</h5>
                    <p class="card-text text-light"><span class="40">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi consequatur dolore error et excepturi facere hic illum itaque laudantium libero magnam nihil perferendis quas quia quo sit tempora, temporibus tenetur.</span></p>
                    <a href="{{ path('home_one_album') }}" class="btn btn-primary">Voir l'album</a>
                </div>
            </div>
            <div class="col-4">
                <img class="card-img-top" src="http://lorempixel.com/400/200/food" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-white">Album title</h5>
                    <p class="card-text text-light"><span class="40">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi consequatur dolore error et excepturi facere hic illum itaque laudantium libero magnam nihil perferendis quas quia quo sit tempora, temporibus tenetur.</span></p>
                    <a href="{{ path('home_one_album') }}" class="btn btn-primary">Voir l'album</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <img class="card-img-top" src="http://lorempixel.com/400/200/nature" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-white">Album title</h5>
                    <p class="card-text text-light"><span class="40">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi consequatur dolore error et excepturi facere hic illum itaque laudantium libero magnam nihil perferendis quas quia quo sit tempora, temporibus tenetur.</span></p>
                    <a href="{{ path('home_one_album') }}" class="btn btn-primary">Voir l'album</a>
                </div>
            </div>
            <div class="col-4">
                <img class="card-img-top" src="http://lorempixel.com/400/200/business" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-white">Album title</h5>
                    <p class="card-text text-light"><span class="40">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi consequatur dolore error et excepturi facere hic illum itaque laudantium libero magnam nihil perferendis quas quia quo sit tempora, temporibus tenetur.</span></p>
                    <a href="{{ path('home_one_album') }}" class="btn btn-primary">Voir l'album</a>
                </div>
            </div>
            <div class="col-4">
                <img class="card-img-top" src="http://lorempixel.com/400/200/nightlife" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title text-white">Album title</h5>
                    <p class="card-text text-light"><span class="40">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi consequatur dolore error et excepturi facere hic illum itaque laudantium libero magnam nihil perferendis quas quia quo sit tempora, temporibus tenetur.</span></p>
                    <a href="{{ path('home_one_album') }}" class="btn btn-primary">Voir l'album</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}