{% extends 'base.html.twig' %}

{% block body %}
    <section id="home">
        {% for label, messages  in app.flashes %}
            {% for message in messages %}
                <div id="flash-message" class="container alert alert-{{ label }} alert-dismissible fade show"
                     role="alert">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endfor %}
        <div class="container">
            <h1>Welcome !</h1>
            {% if not app.user %}
                <h2>Triez vos photos pour mieux en profiter !</h2>
                <hr>
                <div class="container-section">
                    <a href="{{ path('security_registration') }}" class="btn btn-outline-info">Inscription</a>
                </div>
            {% else %}
                <h2><span>{{ app.user.username() }}</span></h2>
                <hr>
                <ul>
                    <p>Actuellement :</p>
                    <li>
                        <span>{{ app.user.photos|length }}</span> photo{% if app.user.photos|length > 1 %}s{% endif %}
                    </li>
                    <li>
                        <span>{{ app.user.albums|length }}</span> album{% if app.user.albums|length > 1 %}s{% endif %}
                    </li>
                </ul>
                <hr>
                <div class="buttons">
                    <a href="{{ path('image_all_photos') }}" class="btn btn-info">Vos photos</a>
                    <a href="{{ path('album_all_albums') }}" class="btn btn-primary">Vos albums</a>
                    <a href="{{ path('image_add') }}" class="btn btn-secondary">Ajouter des photos</a>
                </div>
            {% endif %}
        </div>
    </section>
{% endblock %}