{% extends 'base.html.twig' %}

{% block body %}

<section id="home">
    <div class="container">

            <h1 class="display-3">Votre gallerie <a href="{{ path('home_welcome') }}"><strong>TriPhotos</strong></a></h1>
            <h2><span>{{ app.user.username() }}</span></h2>
            <hr>
            <ul>
                <p>Vous avez actuellement :</p>
                <li>
                    <span>{{ app.user.photos|length }}</span> photo{% if app.user.photos|length > 1 %}s{% endif %}
                </li>
                <li>
                    <span>{{ app.user.albums|length }}</span> album{% if app.user.albums|length > 1 %}s{% endif %}
                </li>
            </ul>

        <div class="buttons">
            <a href="{{ path('image_all_photos') }}" type="button" class="btn btn-info">Vos photos</a>
            <a href="{{ path('album_all_albums') }}" type="button" class="btn btn-primary">Vos albums</a>
            <a href="{{ path('image_add') }}" type="button" class="btn btn-success" >Ajouter des photos</a>
        </div>
    </div>
</section>


{% endblock %}