{% extends 'base.html.twig' %}

{% block body %}

<section id="home-welcome">
    <div class="container">
        <h1><a href="{{ path('home_welcome') }}">TriPhotos</a></h1>
        {% if not app.user %}
        <h2>Triez vos photos pour mieux en profiter !</h2>
        <div class="container-section">
            <p>C'est votre première fois ?</p>
            <a href="{{ path('security_registration') }}" type="button" class="btn btn-primary">Inscrivez-vous</a>
        </div>
        <div class="container-section">
            <p>Vous avez-déjà un compte ?</p>
            <a href="{{ path('security_login') }}" type="button" class="btn btn-success">Connectez-vous</a>
        </div>
            {% else %}
            <h2>Bienvenue <span>{{ app.user.username() }}</span></h2>
                <div class="container-section">
                    <p>Accedez à votre compte</p>
                    <a href="{{ path('home_connected') }}" type="button" class="btn btn-success">Mon compte</a>
                </div>
        {% endif %}
    </div>
</section>

{% endblock %}