{% extends 'base.html.twig' %}
{% form_theme formPhoto 'bootstrap_4_layout.html.twig' %}

{% block body %}

<section id="add-photo">
    <div class="container">
        <h1>Ajoutez des photos</h1>
        {{ form_start(formPhoto) }}
        {% if app.user.albums|length > 0 %}
            <div class="form-group">
                <label for="select-album">Voulez-vous ajouter ces photos à l'un de vos albums ? Si oui, lequel ?</label>
                <select name="select-album" id="select-album">
                    <option value="" selected>Non</option>
                    {% for album in app.user.albums %}
                        <option value="{{ album.id }}">oui, ajouter à l'album : {{ album.title }}</option>
                    {% endfor %}
                </select>
            </div>
        {% endif %}
        {{ form_label(formPhoto.file, 'Choisissez une ou plusieurs photo(s) (formats acceptés : jpg ou png)') }}
        {% if errorsFileFormat is defined %}
            {% for errorFileFormat in errorsFileFormat %}
                <p class="alert-danger">
                    {{ errorFileFormat }}
                </p>
            {% endfor %}
        {% endif %}
        {{ form_widget(formPhoto.file) }}
        <button type="submit" class="btn btn-success">Valider</button>
        {{ form_end(formPhoto) }}
        <div class="progress">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
        </div>
        <p class="percent-progress"></p>
        <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        {#<div class="progress mt-5">
            <progress id="progress" value="0" max="100" style="width: 100%"></progress>
            <div id="progress-bar" class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
        </div>#}
    </div>
</section>

{% endblock %}