{% extends 'base.html.twig' %}

 {% block body %}

 <section id="all-photos">
     <div class="container">
         <div class="return">
             <a href="{{ path('home_connected') }}" class="btn btn-warning" type="button"><i class="fas fa-caret-left"></i> Retour</a>
         </div>
         <h1>Toutes mes photos</h1>
         <p>{{ photos|length }} photo{% if photos|length > 1 %}s{% endif %}</p>

            <div class="container-photos">
            {% for photo in photos %}
                <div class="container-photo {% if filter != 0 %}{% if photo.rating != filter %}hide{% endif %}{% endif %}">
                    <a href="{{ path('image_one_photo', {'id' :photo.id}) }}">
                        <img src="{{ path('file_download', {'id' :photo.id}) }}" alt="{{ photo.originalName }}">
                    </a>
                    <div class="hover-photo">
                        <small>{{ photo.originalName }}</small>
                        <a href="{{ path('image_one_photo', {'id' :photo.id}) }}" class="link-photo"></a>
                        <a href="" class="link-erase-photo" data-toggle="modal" data-target="#ConfirmationModalCenter{{ photo.id }}"><i class="far fa-trash-alt"></i></a>
                        <div class="rating">
                            {% set currentPath = path(app.request.attributes.get('_route')) %}
                            <a href="{{ path('image_rating', {'id' :photo.id, 'rating' :1, 'currentPath' :currentPath|trim('/')}) }}"><i class="{% if photo.rating >= 1 %}fas{% else %}far{% endif %} fa-star "></i></a>
                            <a href="{{ path('image_rating', {'id' :photo.id, 'rating' :2, 'currentPath' :currentPath|trim('/')}) }}"><i class="{% if photo.rating >= 2 %}fas{% else %}far{% endif %} fa-star "></i></a>
                            <a href="{{ path('image_rating', {'id' :photo.id, 'rating' :3, 'currentPath' :currentPath|trim('/')}) }}"><i class="{% if photo.rating == 3 %}fas{% else %}far{% endif %} fa-star "></i></a>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="ConfirmationModalCenter{{ photo.id }}" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLongTitle">Êtes-vous sûr de vouloir supprimer la photo "{{ photo.originalName }}"</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <button type="button" class="btn btn-warning" data-dismiss="modal">Annuler</button>
                                <a href="{{ path('image_remove_photo', {'id' :photo.id}) }}" class="btn btn-danger" type="button" title="Supprimer cette photo">Supprimer</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            </div>
         {% if photos|length >= 1 %}
            <div class="filter">
                Filtrer :
                {% if  filter != 0 %}
                <a href="{{ path('filter_rating', {'rating' :1}) }}" title="Afficher seulement les photos classées 1 étoile"><i class="{% if filter >= 1 %}fas{% else %}far{% endif %} fa-star "></i></a>
                <a href="{{ path('filter_rating', {'rating' :2}) }}" title="Afficher seulement les photos classées 2 étoiles"><i class="{% if filter >= 2 %}fas{% else %}far{% endif %} fa-star "></i></a>
                <a href="{{ path('filter_rating', {'rating' :3}) }}" title="Afficher seulement les photos classées 3 étoiles"><i class="{% if filter == 3 %}fas{% else %}far{% endif %} fa-star "></i></a>
                <a href="{{ path('filter_rating', {'rating' :0}) }}" title="Supprimer le filtre"><i class="fas fa-filter"></i></a>
                {% else %}
                    <a href="{{ path('filter_rating', {'rating' :1}) }}" title="Afficher seulement les photos classées 1 étoile"><i class="fas fa-star drunk"></i></a>
                    <a href="{{ path('filter_rating', {'rating' :2}) }}" title="Afficher seulement les photos classées 2 étoiles"><i class="fas fa-star drunk"></i></a>
                    <a href="{{ path('filter_rating', {'rating' :3}) }}" title="Afficher seulement les photos classées 3 étoiles"><i class="fas fa-star drunk"></i></a>
                {% endif %}
            </div>
         {% endif %}

         <div class="buttons">
             <a class="btn btn-primary" href="{{ path('album_all_albums') }}" type="button">Voir mes albums</a>
             <a class="btn btn-success" href="{{ path('image_add') }}" type="button">Ajouter des photos</a>
         </div>
     </div>
 </section>

 {% endblock %}