{% extends 'base.html.twig' %}

 {% block body %}

<section id="one-photo">
    <div class="container">
        <div class="return">
            <a href="{{ path('image_all_photos') }}" class="btn btn-warning" type="button"><i class="fas fa-caret-left"></i> Retour</a>
        </div>
        <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                {% for userPhotos in allphotos %}
                    <li data-target="#carouselIndicators" data-slide-to="{{ userPhotos.id }}" class="{% if photo.id == userPhotos.id %}active{% endif %}"></li>
                {% endfor %}
            </ol>
            <div class="carousel-inner">
                {% for userPhotos in allphotos %}
                    <div class="carousel-item {% if photo.id == userPhotos.id %}active{% endif %}">
                        <p>{{ userPhotos.originalName }}</p>
                        <img src="{{ path('file_download', {'id' :userPhotos.id}) }}" alt="...">
                        <div class="rating">
                            {% set currentPath = 'onePhoto' %}
                            <a href="{{ path('image_rating', {'id' :userPhotos.id, 'rating' :1, 'currentPath' :currentPath}) }}"><i class="{% if userPhotos.rating >= 1 %}fas{% else %}far{% endif %} fa-star "></i></a>
                            <a href="{{ path('image_rating', {'id' :userPhotos.id, 'rating' :2, 'currentPath' :currentPath}) }}"><i class="{% if userPhotos.rating >= 2 %}fas{% else %}far{% endif %} fa-star "></i></a>
                            <a href="{{ path('image_rating', {'id' :userPhotos.id, 'rating' :3, 'currentPath' :currentPath}) }}"><i class="{% if userPhotos.rating == 3 %}fas{% else %}far{% endif %} fa-star "></i></a>
                        </div>
                        <div class="edition">
                            <a href="" class="btn btn-success" type="button" title="déplacer cette photo dans un album" data-toggle="modal" data-target="#ModalCenter{{ userPhotos.id }}"><i class="fas fa-images"></i></a>
                            <a href="" class="btn btn-danger" type="button" title="Supprimer cette photo" data-toggle="modal" data-target="#ConfirmationModalCenter{{ userPhotos.id }}"><i class="far fa-trash-alt"></i></a>
                        </div>
                    </div>
                    <div class="modal fade" id="ModalCenter{{ userPhotos.id }}" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Déplacer la photo "{{ userPhotos.originalName }}"</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {% if userPhotos.album is not null %}
                                        <p>Cette photo est classée dans l'album "{{ userPhotos.album.title }}"</p>
                                    {% else %}
                                        <p>Cette photo n'est pas encore classée dans un album</p>
                                    {% endif %}
                                    <form action="{{ path('image_add_to_album', {'photoId' :userPhotos.id }) }}" method="post">
                                        <div class="input-group">
                                            <select name="select-album" id="select-album" class="custom-select" required>
                                                <option value="" disabled selected>Choisissez l'un de vos albums : </option>
                                                {% for album in albums %}
                                                    <option value="{{ album.id }}" {% if userPhotos.album is not null %}{% if album.id == userPhotos.album.id %}disabled{% endif %}{% endif %}>{{ album.title }}</option>
                                                {% endfor %}
                                                <option value="null" {% if userPhotos.album is null %}disabled{% endif %}>Aucun (déclasser cette photo)</option>
                                            </select>
                                            <div class="input-group-append">
                                                <button type="submit" class="btn btn-success">Valider</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="ConfirmationModalCenter{{ userPhotos.id }}" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Êtes-vous sûr de vouloir supprimer la photo "{{ userPhotos.originalName }}"</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <button type="button" class="btn btn-warning" data-dismiss="modal">Annuler</button>
                                    <a href="{{ path('image_remove_photo', {'id' :userPhotos.id, 'currentPath' :currentPath}) }}" class="btn btn-danger" type="button" title="Supprimer cette photo">Supprimer</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</section>

{% endblock %}
