{% extends 'baseAdmin.html.twig' %}

{% block body %}
    <section>
        <div class="container-fluid">
            <h2>Liste des photos</h2>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Miniature</th>
                    <th>Nom du fichier</th>
                    <th>Membre</th>
                    {#<th>Album</th>#}
                    <th>Note</th>
                    <th class="text-center">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for photo in photos %}
                    <tr>
                        <td>{{ photo.id }}</td>
                        <td>
                            <img src="{{ path('file_download', {'id' :photo.id}) }}" alt="" class="miniature">
                            <img src="{{ path('file_download', {'id' :photo.id}) }}" alt="" class="preview">
                        </td>
                        <td>{{ photo.originalName }}</td>
                        <td>{{ photo.author.username }}</td>
                        {#<td>{{ photo.album.title }}</td>#}
                        <td>{{ photo.rating }}</td>
                        <td class="text-center">
                            <a href="{{ path('admin_remove_photo', {'id' :photo.id}) }}" class="trash"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>

    </section>

{% endblock %}