{% extends 'base.html.twig' %}

{% block title %}Album {{ album.title }}{% endblock %}

{% block body %}

    <section id="one-album">
        {% include 'partials/flash-messages.html.twig' %}
        <div class="container">
            <div class="return">
                <a href="{{ path('album_all_albums') }}" class="btn btn-warning"><i class="fas fa-caret-left"></i> Mes
                    albums</a>
            </div>
            <h1>{{ album.title }}</h1>
            <p>{{ album.description }}</p>
            {% if filter == 0 %}<p class="details">{{ total }} photo{% if total > 1 %}s{% endif %}</p>
            {% elseif filter == 1 %} <p class="details">(classées 1 étoile)</p>
            {% elseif filter == 2 %} <p class="details">(classées 2 étoiles)</p>
            {% elseif filter == 3 %} <p class="details">(classées 3 étoiles)</p>
            {% endif %}
            <div class="container-photos">
                {% for photo in photos %}
                    <div class="container-photo {% if filter != 0 %}{% if photo.rating != filter %}hide{% endif %}{% endif %}">
                        <a href="{{ path('album_one_album_all_photos', {'id' :photo.album.id, 'photoId' :photo.id}) }}"
                           class="link-container-photo">
                            <img src="{{ path('file_download', {'id' :photo.id}) }}" alt="{{ photo.originalName }}">
                        </a>
                        <div class="hover-photo">
                            <p class="original-name"><small>{{ photo.originalName }}</small></p>
                            <a href="{{ path('album_one_album_all_photos', {'id' :photo.album.id, 'photoId' :photo.id}) }}"
                               class="link-photo"></a>
                            <a href="" class="link-send-photo" data-toggle="modal"
                               data-target="#SendFileModalCenter{{ photo.id }}"><i class="fas fa-share-alt"></i></a>
                            <a href="" class="link-remove-photo"
                               title="Retirer cette photo de l'album (elle ne sera pas supprimée de vos photos)"
                               data-toggle="modal" data-target="#ConfirmationRemoveModalCenter{{ photo.id }}"><i
                                        class="fas fa-folder-minus"></i></a>
                            <div class="rating">
                                {% set currentPath = 'album' %}
                                <a href="{{ path('image_rating', {'id' :photo.id, 'rating' :1, 'currentPath' :currentPath}) }}" class="{% if photo.rating >= 1 %}active{% endif %}"><i class="fas fa-star"></i></a>
                                <a href="{{ path('image_rating', {'id' :photo.id, 'rating' :2, 'currentPath' :currentPath}) }}" class="{% if photo.rating >= 2 %}active{% endif %}"><i class="fas fa-star"></i></a>
                                <a href="{{ path('image_rating', {'id' :photo.id, 'rating' :3, 'currentPath' :currentPath}) }}" class="{% if photo.rating == 3 %}active{% endif %}"><i class="fas fa-star"></i></a>
                            </div>
                        </div>
                        <div class="loader">
                            <div class="lds-roller">
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                                <div></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="SendFileModalCenter{{ photo.id }}" tabindex="-1" role="dialog"
                         aria-labelledby="ModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content SendFileModal">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Partagez la photo
                                        "{{ photo.originalName }}" par email</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    {% set currentPath = 'one-album' %}
                                    <form action="{{ path('mailer_photo', {'from' :app.user.id, 'photoId' : photo.id, 'currentPath' : currentPath }) }}"
                                          method="post">
                                        <div class="form-group">
                                            <label for="to-email">Adresse email du destinataire :</label>
                                            <input type="email" name="to-email" id="to-email" required="required">
                                        </div>
                                        <div class="form-group">
                                            <label for="content">Message
                                                <small>(facultatif)</small>
                                                :</label>
                                            <textarea name="content" id="content" cols="30" rows="10"></textarea>
                                        </div>
                                        <button class="btn btn-danger" data-dismiss="modal">Annuler</button>
                                        <button class="btn btn-success" type="submit">Envoyer</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="ConfirmationRemoveModalCenter{{ photo.id }}" tabindex="-1" role="dialog"
                         aria-labelledby="ModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content ConfirmationModal">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">Êtes-vous sûr de vouloir
                                        retirer la photo "{{ photo.originalName }}" de l'album "{{ album.title }}"</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <a href="" class="btn btn-warning" data-dismiss="modal">Annuler</a>
                                    <a href="{{ path('image_remove_to_album', {'id' :photo.id, 'albumId' :album.id}) }}"
                                       class="btn btn-danger"
                                       title="Retirer cette photo">Retirer</a>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% if total > 20 and filter == 0 %}
                {% include 'partials/paginationAlbum.html.twig' with {'route': 'album_one_album'} %}
            {% endif %}
            {% if photos|length >= 1 %}
                <div class="filter">
                    Filtrer :
                    {% if  filter != 0 %}
                        <a href="{{ path('filter_rating', {'rating' :1}) }}"
                           title="Afficher seulement les photos classées 1 étoile" class="{% if filter >= 1 %}active{% endif %}"><i class="fas fa-star"></i></a>
                        <a href="{{ path('filter_rating', {'rating' :2}) }}"
                           title="Afficher seulement les photos classées 2 étoiles" class="{% if filter >= 2 %}active{% endif %}"><i class="fas fa-star"></i></a>
                        <a href="{{ path('filter_rating', {'rating' :3}) }}"
                           title="Afficher seulement les photos classées 3 étoiles" class="{% if filter == 3 %}active{% endif %}"><i class="fas fa-star"></i></a>
                        <a href="{{ path('filter_rating', {'rating': 0, 'currentPath': 'album_one_album', 'albumId': album.id}) }}" title="Supprimer le filtre"><i
                                    class="fas fa-filter"></i></a>
                    {% else %}
                        <a href="{{ path('filter_rating', {'rating': 1, 'currentPath': 'album_one_album', 'albumId': album.id}) }}"
                           title="Afficher seulement les photos classées 1 étoile"><i
                                    class="fas fa-star drunk"></i></a>
                        <a href="{{ path('filter_rating', {'rating': 2, 'currentPath': 'album_one_album', 'albumId': album.id}) }}"
                           title="Afficher seulement les photos classées 2 étoiles"><i
                                    class="fas fa-star drunk"></i></a>
                        <a href="{{ path('filter_rating', {'rating': 3, 'currentPath': 'album_one_album', 'albumId': album.id}) }}"
                           title="Afficher seulement les photos classées 3 étoiles"><i
                                    class="fas fa-star drunk"></i></a>
                    {% endif %}
                </div>
            {% endif %}
            <div class="buttons">
                <a href="" class="btn btn-danger" title="Supprimer cet album" data-toggle="modal"
                   data-target="#ConfirmationModalCenter{{ album.id }}">Supprimer cet album</a>
                <a href="{{ path('album_add') }}" class="btn btn-secondary">Créer un nouvel album</a>
            </div>
            <div class="modal fade" id="ConfirmationModalCenter{{ album.id }}" tabindex="-1" role="dialog"
                 aria-labelledby="ModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content ConfirmationModal">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Êtes-vous sûr de vouloir
                                supprimer cet album "{{ album.title }}"</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <a href="" class="btn btn-warning" data-dismiss="modal">Annuler</a>
                            <a href="{{ path('album_remove_album', {'id' :album.id}) }}" class="btn btn-danger"
                               title="Supprimer cet album">Supprimer</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}

 {% block javascripts %}
     {{ parent() }}
     <script src="{{ asset('js/rating-stars-hover.js') }}"></script>
 {% endblock %}